<div class="container">
    <br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" *ngFor="let element of HEADER_TABLE; let i = index">{{HEADER_TABLE[i] | titlecase}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let adress of addresses; let i = index">
                <td>{{adress.street}}</td>
                <td>{{adress.city}}</td>
                <td>{{adress.state}}</td>
                <td>{{adress.zip}}</td>
            </tr>
        </tbody>
    </table>
</div>