<div class="jumbotron">
    <h1 class="display-4">CRUD Person</h1>
    <p class="lead">The following topics where treated in this project:</p>
    <ol>
      <li>Components</li>
      <li>Modules</li>
      <ol>
        <li>Exporting components through modules</li>
      </ol>
      <li>Routing</li>
      <ol>
        <li>Router Link</li>
      </ol>
      <li>Services
        <ol>
          <li>Data managment</li>
          <li>Data through different contexts</li>
          <li>Class reuse</li>
        </ol>
      </li>
      <li>Reactive Forms
        <ol>
          <li>Form Groups</li>
          <li>Form Control</li>
          <li>Form Builder</li>
          <li>Nested Forms</li>
        </ol>
      </li>
      <li>Directives</li>
      <ol>
        <li>Structural directives</li>
      </ol>

    </ol>
    <hr class="my-4">

</div>